@media (max-width: 767px) {                  
   .content-to-hide {
      display: none;
   }
}

body {
	margin: 0px;
	padding: 0px;
}

footer {
	bottom: 0px;
	width: 100%;
	line-height: 31px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid black;
}

.pull-right {
    float: right; 
}

.align-right{
  text-align: right;
}

ul.home_destacats li:first-child{
  font-size: 1em;
}

.destacat {
  font-size: 2em;
}