<!DOCTYPE html>
<html>	
    <head>
        {{ partial "head.html" . }}
    </head>
    
    <body role="document">
        <header>
			{{ partial "header.html" . }}
			<hr/>
        </header>

		<div class="container">
            {{ partial "breadcrumbs" . }}
			<div class="row">
				<div class="col-xs-12" style="border-left: 20px solid {{ .Params.bgcolor }};">
					<h1>{{ .Title }}</h1>
					<p>{{ .Description }}</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<br/><br/>
					{{ .Content | markdownify }}
				</div>
			</div>
			
			<div class="row">
				<br/><br/>				
				{{range .Data.Pages }}
					{{ partial "element_seccio.html" . }}
				{{ end }}
	            {{ range .Sections }}
					{{ partial "element_seccio.html" . }}
	            {{ end }}				
			</div>
		</div>
		
        <footer>
			<br/><br/>
			{{ partial "footer.html" . }}
        </footer>
    </body>
</html>
