<div class="row">
	<div class="col-xs-12">
		<br/>
		<a class="btn btn-lg btn--primary" href="/">
			<table border="0"><tr><td style="vertical-align: top;"><i class="material-icons" style="font-size: 36px;">keyboard_arrow_left</i></td><td>Home</td></tr></table>
		</a>
		<a class="btn btn-lg btn--primary" href="/estandards">
			<table border="0"><tr><td style="vertical-align: top;"><i class="material-icons" style="font-size: 36px;">keyboard_arrow_left</i></td><td>Índex d'estàndards</td></tr></table>
		</a>
		<br/><br/>
	</div>
</div>
