<div class="row" style="background-color:#333333; margin:0px;" style="'vertical-align:bottom; margin-bottom:1px;">
	<div class="row-fluid">
		<div class="col-xs-6" style="color:white;"><i class="material-icons" style="font-size: 24px;";>copyright</i> 2018, Àrea de Tecnologia UOC</div>
		<div class="col-xs-6" style="float:right; text-align:right; color:white;">
			<table border="0" align="right">
				<tr>
					<td>
						<a href="mailto:moga@moga.cat" style="color:white;">adreçauocq@uoc.edu</a>
					</td>
					<td>
						<i class="material-icons" style="font-size: 24px;">mail</i>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!--div class="pull-right editpage" style="display:hidden">
	<a href="/admin/#/collections/{{collection}}/entries/{{entry}}"><i class="fa fa-pencil" aria-hidden="true"></i> Edita aquesta pàgina</a>
</div>


<script src="/js/custom.js"></script-->
