<div class="row" style="background-color:#333333; margin:0px;" style="'vertical-align:bottom; margin-bottom:1px;">
	<div class="row-fluid">
		<div class="col-xs-6" style="color:white;"><i class="material-icons" style="font-size: 24px;";>copyright</i> 2018, Àrea de Tecnologia UOC</div>
		<div class="col-xs-6" style="float:right; text-align:right; color:white;">
			<table border="0" align="right">
				<tr>
					<td>
						<a href="mailto:moga@moga.cat" style="color:white;">adreçauocq@uoc.edu</a>
					</td>
					<td>
						<i class="material-icons" style="font-size: 24px;">mail</i>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div class="pull-right editpage" style="display:none" id="cms-editor">
	<a href="/admin/#/collections/@@collection@@/new" id="cms-editor-link-add" style="display: none">
		<i class="material-icons">mode add</i> Afegeix una pàgina
	</a>
	<a href="/admin/#/collections/@@collection@@/entries/@@entry@@" id="cms-editor-link-edit">
		<i class="material-icons">mode edit</i> <span id="cms-editor-link-edit-text">Edita aquesta @@pagesection@@</span>
	</a>
</div>

<script>
	if (window.netlifyIdentity) {
	  window.netlifyIdentity.on("init", user => {
	    if (!user) {
	      window.netlifyIdentity.on("login", () => {
	        //document.location.href = "/admin/";
	        document.location.href = "?cms=true";
	      });
	    }
	  });
	}
</script>  

<script src="/js/custom.js"></script>
