<section class="fullwidth bg-primary" style="background-image: url(/img/banner_header.jpg); background-size: cover;">
  <div class="fullwidth__wrapper">
    <div class="container">
      <div class="row inverse">
        <div class="col-xs-6">
          <h1 class="h2"><b>UOCq</b> Portal de Qualitat de l'Àrea de Tecnologia de la UOC</h2>
        </div>
        <div class="col-xs-6 align-right">
			<a href="mailto:moga@moga.cat" target="_Blank">adreçauocq@uoc.edu</a><br/>
			<br/>
			<a href="http://twitter.com/UOCit" target="_Blank"><img src="/img/twitter.png" height="50" width="50" /></a>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="row">
	<br/>
	<div class="col-xs-12 col-md-1 text-left">
		<div class="ruler xx-grid-block"></div>
        <a href="/">
            <table border="0"><tr><td style="vertical-align: top;"><i class="material-icons" style="font-size: 32px;">home</i></td><td><h5>home</h5></td></tr></table>
        </a>
	</div>
	<div class="col-xs-1">
	</div>
	<div class="col-xs-12 col-md-1 text-left">
		<div class="ruler ruler--primary xx-grid-block"></div>
        <a href="/estandards">
            <h5>Estàndards</h5>
		</a>
	</div>
	<div class="col-xs-1">
	</div>
	<div class="col-xs-12 col-md-1 text-left">
		<div class="ruler ruler--secondary xx-grid-block"></div>
        <a href="/procediments">
            <h5>Procediments</h5>
        </a>
	</div>
	<div class="col-xs-1">
	</div>
	<div class="col-xs-12 col-md-1 text-left">
		<div class="ruler ruler--alumni xx-grid-block"></div>
		<a href="/caixa">
			<h5>Caixa d'eines</h5>
		</a>
	</div>
	<div class="col-xs-1">
	</div>
	<div class="col-xs-12 col-md-1 text-left">
		<div class="ruler ruler--x xx-grid-block"></div>
		<a href="/metriques">
			<h5>Mètriques</h5>
		</a>
	</div>
	<div class="col-xs-1">
	</div>
	<div class="col-xs-12 col-md-1 text-left">
		<div class="ruler ruler--ri xx-grid-block"></div>
		<a href="/suport">
			<h5>Suport i ajuda</h5>
		</a>
	</div>
	<br/>
</div>
