<meta charset="UTF-8" />

<title>{{ .Title }}</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<meta name="description" content="UOCq | Portal de qualitat de l'Àrea de Tecnologia de la UOC">
<meta name="keywords" content="UOC,UOCq,Qualitat">
<meta name="author" content="Àrea de Tecnologia de la UOC">

<link rel="stylesheet" href="https://cv.uoc.edu/UOC/GEFv2/gef/css/gef.css">
<link href="/css/uocq.css" type="text/css" rel="stylesheet" media="screen" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="icon" href="/favicon.ico" type="image/x-icon" />

<script src="/js/jquery-1.10.2.js"></script>
<script src="https://cv.uoc.edu/UOC/GEFv2/gef/js/gef.min.js"></script>
