<!DOCTYPE html>
<html>

    {{ $p := .Site.GetPage "page" "home.md" }}

    <head>
        {{ partial "head.html" . }}
    </head>
    
    <body role="document">
        <header>
			{{ partial "header.html" . }}
        </header>

        <h1>{{ $p.Params.head }}</h1>
        <h4>{{ $p.Params.subhead }}</h4>


        <div class="row" style="margin: 0px; padding: 20px; display: flex; align-items: stretch; flex-wrap: wrap;">
        {{ range .Site.Home.Sections }}
            <div class="card {{.Params.bg}} col-xs-12 col-md-{{.Params.col_md}} col-lg-{{.Params.col_lg}}" style="padding:20px;">
                <h4>{{.Title}}</h4>
                <p>{{.Description}}</p>
                <br/>
                <p style="position: absolute; bottom: 0px; right: 15px;"><a href="{{.URL}}"><i class="material-icons" style="font-size: 36px;">more</i></a></p>
            </div>
            
        {{ end }}
        </div>


        <div class="row" style="margin: 0px; padding: 20px;">
            <div class="col-xs-12 col-md-6 col-lg-6">
                <h4>Adreçes d'interés</h4>
                <ul>
                    {{ range $p.Params.adreces }}
                    <li class="align-left"><a href="{{.link}}" class="align-left">{{if .icon}}<i class="material-icons">{{.icon}}</i>{{end}}{{.title}}</a></li>
                    {{ end }}                
                </ul>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                <h4>Destacats</h4>
                <ul class="home_destacats">
                    {{ range $p.Params.destacats }}
                    <li><a href="{{.link}}"><i class="material-icons">{{.icon}}</i>{{.title}}</a></li>
                    {{ end }}                
                </ul>
            </div>
            <br/><br/>
        </div>


        <footer>
			{{ partial "footer.html" . }}
        </footer>
    </body>
</html>
